.container{
    font-family: Roboto;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 150px;
    background: #000000;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Roboto;
}
.header{
    display: flex;
    justify-content: space-between;
    color: white    ;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.links{
    display: flex;
    gap: 25px;
}
.links a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.head-info{
    display: flex;
    justify-content: space-around;
}

.des-text{
    height: 400px;
    flex: 1;
    margin: 20px;
}
.des-text h2{
    font-size: 48px;
    color: #F9FAF8;
}

.des-text p{
    color: #E5E7EB;
    font-size: 18px;
}
.des-img img{
    display: flex;
    height: 400px;
    text-align: center;
    color: #F9FAF8;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.des-text button{
    border-radius: 5px;
    border: none;
    background: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    width: 150px;
    padding: 10px;
}
.main{
    display: flex;
    flex-direction: column;
}
.main h2{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}
.main1{
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

.illustration{
    display: flex;
    flex-direction: column;
}

.img{
    height: 300px;
    border: 4px solid #f8f9fc11;
    border-radius: 10px;
}
.img img{
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s transform;
}
.img img:hover{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}
.caption{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #1F2937;
    font-weight: bolder;
}

.main2{
    display: flex;
    flex: 1;
    padding: 60px;
    flex-direction: column;
    background: #E5E7EB;
}
.main2 P{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}
span{
    margin-left: 900px;
    font-size: 20px;
    font-weight: bold;
}

.main3{
    background: url(../images/dd.jpg);
    padding: 100px;
    position: relative;
    background-size: cover;
}

.blue{
    display: flex;
    height: 200px;
    border-radius: 20px;
    width: auto;
    background: #152c529c;
    justify-content: space-around;
    align-items: center;
}

.text, .text h2{
    color: #F9FAF8;
}

.btn button{
    border-radius: 10px;
    background: transparent;
    border: 3px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    padding: 10px;
}

.footer{
    color: #F9FAF8;
    padding: 45px;
    flex: 1;
    background: #1F2937;
    text-align: center;
}